ol,li{ list-style:none}
*{padding: 0;margin: 0;}


body{
    margin: 0;
    overflow: hidden;
}  

#xxx{
    display: block;
    position: fixed;
    left: 0;
    top: 0;

}

.icon {
    width: 1.5em; height: 1.5em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    transition: all 0.3s;
    margin: 0 8px;
 }


.actions{
    position: fixed;
    top: 1em;
    left: 1em;
    margin: 0 8px;
    

 }

#clear:active{
    transform: scale(1.2);
    transition: all 0.3s;
}
#save:active{
    transform: scale(1.2);
    transition: all 0.3s;
}

.actions svg.active{
    fill:orangered;
    transform: scale(1.2)

}
.colors{
    position: fixed;
    top: 50px;
    left: 22px;


}
.colors li{
    height: 20px;
    width: 20px;
    border: 1px solid grey ;
    margin: 10px 0px;
    border-radius: 50%;
    transition: all 0.3s;

}
.colors li.black{
    background-color: black;
}
.colors li.red{
    background-color: red;
}
.colors li.yellow{
    background-color: yellow;
}
.colors li.blue{
    background-color: blue;
}
.colors li.green{
    background-color: green;
}
.colors li.black.active{
   transform: scale(1.2)
}

.colors li.red.active{
    transform: scale(1.2)
}
.colors li.yellow.active{
    transform: scale(1.2)
}
.colors li.blue.active{
    transform: scale(1.2)
}
.colors li.green.active{
    transform: scale(1.2)
}
.lineWidth{
    position: fixed;
    top: 50px;
    right: 6px;
}

.lineWidth li{
    margin: 14px;
    width: 36px;

}
#thin{
    border-top: 3px solid black;
}
#thick{
    border-top: 7px solid black;
}